In [12]:
import pandas as pd

In [13]:
# Load taining and validation dataset
train = pd.read_csv('../data/twitter_training.csv', encoding='ISO-8859-1')
val = pd.read_csv('../data/twitter_validation.csv', encoding='ISO-8859-1')

train.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [14]:
# Rename important columns
train = train.iloc[:, 2:]
train.columns = ['label', 'data']

val = val.iloc[:, 2:]
val.columns = ['label', 'data']

train.head()

      label                                               data
0  Positive  I am coming to the borders and I will kill you...
1  Positive  im getting on borderlands and i will kill you ...
2  Positive  im coming on borderlands and i will murder you...
3  Positive  im getting on borderlands 2 and i will murder ...
4  Positive  im getting into borderlands and i can murder y...